/* Global Variables */
@import url(components/variables.css);
@import url(components/fonts.css);
@import url(components/container.css);
@import url(components/modifier.css);
@import url(components/buttons.css);

/* Common components*/
@import url(components/navbar.css);
@import url(components/text.css);
@import url(components/tags.css);
@import url(components/footer.css);

/* Responsive*/




/* base Style */
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu regular';
}
p{
    margin: 0;
    padding: 0;
}
#main, #root{
    height: 100%;
}
