.container-full{
    width: 100%;
    height: calc(100% - ((var(--header-height) + 10px) + var(--footer-height)));
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-col-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-col-between{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-col-around{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-center{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-row-between{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-row-around{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas:
        ". . .";
}
.grid-container-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
    grid-template-areas:
        ". . . . ."
        ". . . . ."
        ". . . . .";
}
.gutter{
    padding: 0px 50px;
}